:root {
  --White: #fff;
  --Light-pink: #f9f0ff;
  --Grayish-purple: #8c6991;
  --Dark-purple: #2f1533;
}
*,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: "WorkSansItalic";
  src: url(../fonts/WorkSans-Italic-VariableFont_wght.ttf);
}
body {
  font-family: "WorkSans";
  color: var(--Dark-purple);
  font-size: 1rem;
}

/* --- FOOTER --- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
